.score-board {
    width: 100%;
    background-color: #808080;
    margin-top: 5px;
    margin-bottom: 5px;
}

.score-board-header {
    text-align: center;
}

.score-board-data {
    
}

.round-score {
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
}
