.game {
    height: 90vh;
}

.game .left-panel {
    flex: 0 0 15%;
}

.game .main-panel {
    flex: 0 0 70%;
}

.game .right-panel {
    flex: 0 0 15%;
}

.bottom-right-panel {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 10px;
}

.round-score {
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
}