.chat-container {
    color: #88898a;
    height: 40vh;
    width: 100%;
    overflow-y: scroll;
}

.chat-message-list {
    grid-area: chat-message-list;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.message-row {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;
}

.message-content {
    display: grid;
}

.user-message {
    justify-content: end;
}

.player-message .message-content {
    justify-items: start;
}

.system-message .message-content {
    justify-items: center;
}

.message-text {
    padding: 9px 14px;
    font-size: medium;
    margin-bottom: 5px;
}

.user-message .message-text {
    background: #0048aa;
    color: #eee;
    border: 1px solid #0048aa;
    border-radius: 14px 14px 0 14px;
}

.player-message .message-text {
    background: #eee;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
}


.system-message .message-text {
    color: #eee;
    font-size: small;
}

.chat-message-input {
    margin-top: 5px;
    border-radius: 14px 14px 14px 14px;
    background-color: #cfd1d0;
}