.game {
    height: 90vh;
}

.game .main-panel {
    max-width: 70%;
    flex: 0 0 70%;
    display: flex;
    justify-content: center;
}

.game .main-panel .top-panel {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.game .side-panel {
    max-width: 15%;
    flex: 0 0 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.round-score {
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
}

.player {
    display: flex;
    width: 5rem;
    height: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
}