.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.table {
    height: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}

.table-cards {
    height: 100%;
    flex: 0 0 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0 20px;
}

.game-left-panel {
    height: 100%;
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.game-main-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.deck {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 3px;
}

.player-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.player-card {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
}

.player-card:hover {
    margin-bottom: 25px;
}

.card-selected {
    border: 5px solid #30fc03;
}
