.game-container {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.table {
    height: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}

.game-left-panel {
    height: 100%;
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.deck {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 3px;
}

.card-grid {
    height: 100%;
    flex: 0 0 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 20px;
}

.player-hand {
    height: 100%;
    width: 100%;
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    justify-content: center;
}

.card-selected {
    border: 2px solid #30fc03;
}
