.card-container {
    justify-content: left;
    align-items: flex-start;
}

.card-container .left-panel {
    flex: 0 0 25%;
    padding: 0 20px;
}

.card-container .main-panel {
    
}

.deck {
    position: relative;
    margin-top: 2rem;
    margin-right: 2rem;
}

.deck-card {
    position: absolute;
}

.table-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.table-card {
    cursor: pointer;
    padding: 0.5rem 0.5rem;
}

.player-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 5px;
}

.player-card {
    cursor: pointer;
    padding: 0.5rem 0.5rem;
}

/*
.player-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
    flex: 1;
    align-self: flex-end;
    margin-bottom: 5px;
}

.player-card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
}

.player-card:hover {
    z-index: 10;
    margin-bottom: 20px;
}
*/
